$pagination-namespace: 'ls-pagination';

.#{$pagination-namespace} {
  text-align: center;
  font-size: 14px;
  color:rgba(68, 82, 121, .64);

  &-item {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 32px;
    height: 32px;
    border: 1px solid #ECEFF1;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    cursor: pointer;

    &.is-active {
      border-color: #55A8FD;
      color: #55A8FD;
    }
  }

  &-jump {
    width: 48px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #E1E3E9;
    text-align: center;
  }

  &-pagesize {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 10px;
    width: 100px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #E1E3E9;
    background-color: #fff;
    font-size: 14px;
    color:rgba(68, 82, 121, .64);
    line-height: 30px;

    &-btn {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 20px;
    }
  }

  .ls-icon-left {
    & {
      position: absolute;
      top: 22px;
      left: 13px;
      transform: rotate(-90deg);
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      border-left: 6px transparent dashed;
      border-left: 6px transparent dashed;
      border-right: 6px transparent dashed;
      border-bottom: 6px #fff solid;
    }

    &:before {
      border-bottom: 6px rgba(40, 47, 64, .6) solid;
    }

    &:after {
      top: 1px;
      /*覆盖并错开1px*/
      border-bottom: 6px #fff solid;
    }
  }

  .ls-icon-right {
    & {
      position: absolute;
      top: 10px;
      left: 20px;
      transform: rotate(90deg);
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      border-left: 6px transparent dashed;
      border-left: 6px transparent dashed;
      border-right: 6px transparent dashed;
      border-bottom: 6px #fff solid;
    }

    &:before {
      border-bottom: 6px rgba(40, 47, 64, .6) solid;
    }

    &:after {
      top: 1px;
      /*覆盖并错开1px*/
      border-bottom: 6px #fff solid;
    }
  }

  .ls-icon-up {
    cursor: pointer;

    & {
      position: absolute;
      top: 8px;
      left: 5px;
      transform: rotate(0deg);
    }
  
    &:before,
    &:after {
      position: absolute;
      content: '';
      border-left: 4px transparent dashed;
      border-left: 4px transparent dashed;
      border-right: 4px transparent dashed;
      border-bottom: 4px #fff solid;
    }
  
    &:before {
      border-bottom: 4px rgba(40, 47, 64, .6) solid;
    }
  
    &:after {
      top: 1px;
      /*覆盖并错开1px*/
      border-bottom: 4px #fff solid;
    }
  }
  
  .ls-icon-down {
    cursor: pointer;
    
    & {
      position: absolute;
      top: 20px;
      left: 13px;
      transform: rotate(180deg);
    }
  
    &:before,
    &:after {
      position: absolute;
      content: '';
      border-left: 4px transparent dashed;
      border-left: 4px transparent dashed;
      border-right: 4px transparent dashed;
      border-bottom: 4px #fff solid;
    }
  
    &:before {
      border-bottom: 4px rgba(40, 47, 64, .6) solid;
    }
  
    &:after {
      top: 1px;
      /*覆盖并错开1px*/
      border-bottom: 4px #fff solid;
    }
  }
}

