<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bimforest.ems.modules.sys.mapper.DictionaryMapper">

    <select id="selectDictionaryList" resultType="com.bimforest.ems.modules.sys.vo.DictionaryVO">
        SELECT a.id ,
        a.dictionary_child as dictionaryChild,
        dictionary_name as name
         FROM
        sys_dictionary a
        <where>
            <if test=" _parameter != null ">
                and  a.dictionary_name like     CONCAT('%',#{_parameter},'%')
            </if>
        </where>
        order by a.id
    </select>
</mapper>
